<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

    <h1>Add a person</h1>

    <form action="#" th:action="@{/addperson}" th:object="${newPerson}" method="post">

        First Name: <input type="text" th:field="*{nameFirst}"/><br/>
        <span th:if="${#fields.hasErrors('nameFirst')}" th:errors="*{nameFirst}">Please enter a first name</span><br/>

        Last Name: <input type="text" th:field="*{nameLast}"/><br/>
        <span th:if="${#fields.hasErrors('nameLast')}" th:errors="*{nameLast}">Please enter a last name</span><br/>

        Email: <input type="text" th:field="*{email}"/><br/>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Please enter a valid email address</span><br/>


        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>

        <br/>
        <a href="index.html">Start Over</a>


    </form>




</body>
</html>