<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<h1>Work Experience successfully added</h1>
<h2 th:text="${firstAndLastName}"></h2>
<h3 th:text="'Number of work experiences entered (max 10): ' + ${currentNumRecords}"></h3>


<p th:text="${'Title: ' + workExperienceJustAdded.jobTitle}"></p><br/>
<p th:text="${'Company: ' + workExperienceJustAdded.company}"></p><br/>
<p th:text="${'Start Date: ' + workExperienceJustAdded.dateStart}"></p><br/>
<p th:text="${'End Date: ' + workExperienceJustAdded.dateEnd}"></p><br/>
<p th:text="${'Duty 1: ' + workExperienceJustAdded.dutyOne}"></p><br/>
<p th:text="${'Duty 2: ' + workExperienceJustAdded.dutyTwo}"></p><br/>


<br/>
<a href="addskills">Done with Work Experiences</a>
<br/>

<!-- hide the link to add more educational achievements if there are 10 or more already entered -->
<a th:if="${currentNumRecords} &lt; 10" th:href="@{/addworkexperience}">Add more work experiences</a>
<br/>

<a href="index">Start Over</a>



</body>
</html>