.btn-xl {
    margin: 10px;
}

.final-resume-p {
    margin: 0;
    padding: 0;
}



.btn-md {
    font-size: 16px;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 3px;
    color: #fff;
    border-color: #fed136;
    background-color: #fed136;
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase
}

.btn-md.focus,
.btn-md:focus {
    color: #fff;
    border-color: #b48b01;
    background-color: #fec503
}

.btn-md:hover {
    color: #fff;
    border-color: #f6bf01;
    background-color: #fec503
}

.btn-md.active,
.btn-md:active,
.open>.btn-md.dropdown-toggle {
    color: #fff;
    border-color: #f6bf01;
    background-color: #fec503
}

.btn-md.active.focus,
.btn-md.active:focus,
.btn-md.active:hover,
.btn-md:active.focus,
.btn-md:active:focus,
.btn-md:active:hover,
.open>.btn-md.dropdown-toggle.focus,
.open>.btn-md.dropdown-toggle:focus,
.open>.btn-md.dropdown-toggle:hover {
    color: #fff;
    border-color: #b48b01;
    background-color: #dcab01
}

.btn-md.active,
.btn-md:active,
.open>.btn-md.dropdown-toggle {
    background-image: none
}

.btn-md.disabled.focus,
.btn-md.disabled:focus,
.btn-md.disabled:hover,
.btn-md[disabled].focus,
.btn-md[disabled]:focus,
.btn-md[disabled]:hover,
fieldset[disabled] .btn-md.focus,
fieldset[disabled] .btn-md:focus,
fieldset[disabled] .btn-md:hover {
    border-color: #fed136;
    background-color: #fed136
}

.btn-md .badge {
    color: #fed136;
    background-color: #fff
}