<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body>

<!-- pass a bunch of boolean variables over to the nav fragment, so it knows which links to enable and highlight -->
<nav th:replace="fragments :: navbar(${pageState})"></nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

                <form action="#" th:action="@{/addperson}" th:object="${newPerson}" method="post">
                    <!-- need this or id is zero every time and keep getting additional records when updating -->
                    <input type="hidden" th:field="*{id}" />

                        <div class="form-group">
                            <label class="section-heading" for="nameFirst">First Name</label>
                            <input id="nameFirst" class="form-control" type="text" th:field="*{nameFirst}"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('nameFirst')}" th:errors="*{nameFirst}"></p>
                        </div>
                        <div class="form-group">
                            <label class="section-heading" for="nameLast">Last Name</label>
                            <input id="nameLast" class="form-control" type="text" th:field="*{nameLast}"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('nameLast')}" th:errors="*{nameLast}"></p>
                        </div>
                        <div class="form-group">
                            <label class="section-heading" for="email">Email</label>
                            <input id="email" class="form-control" type="text" th:field="*{email}"/>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                        </div>

                        <div class="clearfix"></div>
                    <input class="btn btn-primary bold-input" type="submit" value="Submit" th:disabled="${disableSubmit}"/>
                </form>

            </div>
        </div>
    </div>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript and modal divs -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

<th:block th:replace="fragments :: modals"></th:block>

</body>

</html>
