<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<h1>Skill successfully added</h1>
<h2 th:text="${firstAndLastName}"></h2>
<h3 th:text="'Number of skills entered (1 - 20): ' + ${currentNumRecords}"></h3>


<p th:text="${'Skill: ' + skillJustAdded.skill}"></p><br/>
<p th:text="${'Rating: ' + skillJustAdded.rating}"></p><br/>


<br/>
<a href="finalresume">Done entering resume info, show me the final resume!</a>
<br/>

<!-- hide the link to add more educational achievements if there are 10 or more already entered -->
<a th:if="${currentNumRecords} &lt; 20" th:href="@{/addskill}">Add another skill</a>
<br/>

<a href="index">Start Over</a>



</body>
</html>