
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body id="page-top">

<!-- Contact -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" th:text="'Resume for ' + ${firstAndLastName}"></h2>
                <h5 class="section-heading">Please enter 1 - 10 skills</h5>
                <h6 class="section-heading" th:text="'You have entered ' + ${currentNumRecords} + ' so far'"></h6>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <form action="#" th:action="@{/addskill}" th:object="${newSkill}" method="post">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">

                            <div class="form-group">
                                <label class="section-heading" for="skill">Skill</label>
                                <input id="skill" class="form-control" type="text" th:field="*{skill}"/>
                                <p class="help-block text-danger" th:if="${#fields.hasErrors('skill')}" th:errors="*{skill}"></p>
                            </div>

                            <!-- need this or id is zero every time and keep getting additional records when updating -->
                            <input type="hidden" th:field="*{id}" />

                            <!-- label allows user to click the text OR the radio button to select, for convenience -->
                            <label class="section-heading" for="expertId">Expert</label>
                            <input type="radio" name="rating" id="expertId" value="Expert" th:field="*{rating}"/><br/>
                            <label class="section-heading" for="proficientId">Proficient</label>
                            <input type="radio" name="rating" id="proficientId" value="Proficient" th:field="*{rating}"/><br/>
                            <label class="section-heading" for="familiarId">Familiar</label>
                            <input type="radio" name="rating" id="familiarId" value="Familiar" th:field="*{rating}"/><br/>


                            <p class="help-block text-danger" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" th:text="'Please enter a rating'"></p>

                        </div>

                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">

                            <input class="btn btn-md" type="submit" value="Submit" th:disabled="${currentNumRecords} &gt; 20"/>
                            <input class="btn btn-md" type="reset" value="Reset"/>

                            <a class="btn btn-md" href="resumenavigation">Home</a>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>