
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Create your resume with Robo Resume!">
    <meta name="author" content="Nathan Merris">

    <title>Robo Resume</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!-- **** SPRING BOOT EXPECTS ALL STATIC RESOURCES TO BE IN resources/static **** -->
    <!-- So even though IntelliJ does not think the refs are good, they work when running on the server -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">
    <link href="css/customstyles.css" rel="stylesheet">


  </head>

  <body id="page-top">


    <!-- Header -->
    <!--<header class="masthead">-->
      <!--<div class="container">-->
        <!--<div class="intro-text">-->
          <!--<div class="intro-lead-in">Welcome To Our Studio!</div>-->
          <!--<div class="intro-heading">It's Nice To Meet You</div>-->
          <!--<a href="#services" class="btn btn-xl">Tell Me More</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</header>-->


    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="'Resume for ' + ${firstAndLastName}"></h2>
            <h5 class="section-heading">Please enter 0 - 10 work experiences</h5>
            <h6 class="section-heading" th:text="'You have entered ' + ${currentNumRecords} + ' so far'"></h6>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

            <form action="#" th:action="@{/addworkexperience}" th:object="${newWorkExperience}" method="post">
              <div class="row">
                <div class="col-md-6 col-md-offset-3">

                  <div class="form-group">
                    <label class="section-heading" for="jobTitle">Job Title</label>
                    <input id="jobTitle" class="form-control" type="text" th:field="*{jobTitle}"/>
                    <p class="help-block text-danger" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></p>
                  </div>
                  <div class="form-group">
                    <label class="section-heading" for="company">Company</label>
                    <input id="company" class="form-control" type="text" th:field="*{company}"/>
                    <p class="help-block text-danger" th:if="${#fields.hasErrors('company')}" th:errors="*{company}"></p>
                  </div>
                  <div class="form-group">
                    <label class="section-heading" for="startDate">Start Date</label>
                    <input id="startDate" class="form-control" type="text" th:field="*{dateStart}" th:placeholder="'Jul 4, 1976'"/>
                    <p class="help-block text-danger" th:if="${#fields.hasErrors('dateStart')}" th:errors="*{dateStart}" th:text="'Please enter a day, month, and year'"></p>
                  </div>
                  <div class="form-group">
                    <label class="section-heading" for="endDate">End Date</label>
                    <input id="endDate" class="form-control" type="text" th:field="*{dateEnd}" th:placeholder="${todaysDate}"/>
                    <p class="help-block text-danger" th:if="${#fields.hasErrors('dateEnd')}" th:errors="*{dateEnd}" th:text="'Please enter a day, month, and year'"></p>
                  </div>
                  <div class="form-group">
                    <label class="section-heading" for="firstDuty">Duty One</label>
                    <input id="firstDuty" class="form-control" type="text" th:field="*{dutyOne}"/>
                    <p class="help-block text-danger" th:if="${#fields.hasErrors('dutyOne')}" th:errors="*{dutyOne}"></p>
                  </div>
                  <div class="form-group">
                    <label class="section-heading" for="secondDuty">Duty Two</label>
                    <input id="secondDuty" class="form-control" type="text" th:field="*{dutyTwo}"/>
                  </div>
                </div>

                <div class="clearfix"></div>
                <div class="col-lg-12 text-center">
                  <div id="success"></div>
                  <input class="btn btn-xl" type="submit" value="Submit"/>
                  <input class="btn btn-xl" type="reset" value="Reset"/>

                  <a class="btn btn-xl" href="addskill">Done Adding Work Experiences</a>
                  <a class="btn btn-xl" href="addeducation">Back to Educational Achievements</a>
                  <a class="btn btn-xl" href="index.html">Start Over</a>


                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Nathan Merris 2017</span>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <!--<script src="js/jqBootstrapValidation.js"></script>-->
    <!--<script src="js/contact_me.js"></script>-->

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>
