<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body id="page-top">

<section id="contact">
    <div class="container">

        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="'Edit details for ' + ${firstAndLastName}"></h2>
        </div>

    </div>
</section>




<section id="person" class="section-heading">
    <h3>Personal Information</h3>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>

        <th:block th:each="item:${persons}">
            <tbody>
            <tr>
                <td><p th:text="${item.nameFirst}"/></td>
                <td><p th:text="${item.nameLast}"/></td>
                <td><p th:text="${item.email}"/></td>
                <td>
                    <a th:href="@{|/update/${item.id}?type=person|}" class="action-link">Edit</a>
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</section>

<section id="education">
    <h3>Educational Achievements</h3>
    <table>
        <thead>
        <tr>
            <th>Major</th>
            <th>School</th>
            <th>Grad Year</th>
            <th>Action</th>
        </tr>
        </thead>

        <th:block th:each="item:${edAchievements}">
            <tbody>
            <tr>
                <td><p th:text="${item.major}"/></td>
                <td><p th:text="${item.school}"/></td>
                <td><p th:text="${item.graduationYear}"/></td>
                <td>
                    <a th:href="@{|/update/${item.id}/?type=ed|}" class="action-link">Edit</a>
                    <!-- send both a path variable AND a request param for delete. easy with thymeleaf literal substitution -->
                    <a th:href="@{|/delete/${item.id}?type=ed|}" class="action-link">Delete</a>
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</section>

<section id="workexperiences">
    <h3>Work Expereriences</h3>
    <table>
        <thead>
        <tr>
            <th>Job Title</th>
            <th>Company</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duty One</th>
            <th>Duty Two</th>
        </tr>
        </thead>

        <th:block th:each="item:${workExperiences}">
            <tbody>
            <tr>
                <td><p th:text="${item.jobTitle}"/></td>
                <td><p th:text="${item.company}"/></td>
                <td><p th:text="${item.dateStart}"/></td>
                <td><p th:text="${item.dateEnd}"/></td>
                <td><p th:text="${item.dutyOne}"/></td>
                <td><p th:text="${item.dutyTwo}"/></td>
                <td>
                    <a th:href="@{|/update/${item.id}/?type=workexp|}" class="action-link">Edit</a>
                    <a th:href="@{|/delete/${item.id}?type=workexp|}" class="action-link">Delete</a>
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</section>

<section id="skills">
    <h3>Skills</h3>
    <table>
        <thead>
        <tr>
            <th>Skill</th>
            <th>Rating</th>
        </tr>
        </thead>

        <th:block th:each="item:${skills}">
            <tbody>
            <tr>
                <td><p th:text="${item.skill}"/></td>
                <td><p th:text="${item.rating}"/></td>
                <td>
                    <a th:href="@{|/update/${item.id}/?type=skill|}" class="action-link">Edit</a>
                    <a th:href="@{|/delete/${item.id}?type=skill|}" class="action-link">Delete</a>
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</section>





<!--<section id="person">-->
    <!--<h3>Personal Information</h3>-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>First Name</th>-->
            <!--<th>Last Name</th>-->
            <!--<th>Email</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<th:block th:each="item:${persons}">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><p th:text="${item.nameFirst}"/></td>-->
                <!--<td><p th:text="${item.nameLast}"/></td>-->
                <!--<td><p th:text="${item.email}"/></td>-->
                <!--<td>-->
                    <!--<a th:href="@{/updateperson/{id}(id=${item.id})}" class="action-link">Edit</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</th:block>-->
    <!--</table>-->
<!--</section>-->

<!--<section id="education">-->
    <!--<h3>Educational Achievements</h3>-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Major</th>-->
            <!--<th>School</th>-->
            <!--<th>Grad Year</th>-->
            <!--<th>Action</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<th:block th:each="item:${edAchievements}">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><p th:text="${item.major}"/></td>-->
                <!--<td><p th:text="${item.school}"/></td>-->
                <!--<td><p th:text="${item.graduationYear}"/></td>-->
                <!--<td>-->
                    <!--<a th:href="@{/updateeducation/{id}(id=${item.id})}" class="action-link">Edit</a>-->
                    <!--&lt;!&ndash; send both a path variable AND a request param for delete. easy with thymeleaf literal substitution &ndash;&gt;-->
                    <!--<a th:href="@{|/delete/${item.id}?type=ed|}" class="action-link">Delete</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</th:block>-->
    <!--</table>-->
<!--</section>-->

<!--<section id="workexperiences">-->
    <!--<h3>Work Expereriences</h3>-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Job Title</th>-->
            <!--<th>Company</th>-->
            <!--<th>Start Date</th>-->
            <!--<th>End Date</th>-->
            <!--<th>Duty One</th>-->
            <!--<th>Duty Two</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<th:block th:each="item:${workExperiences}">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><p th:text="${item.jobTitle}"/></td>-->
                <!--<td><p th:text="${item.company}"/></td>-->
                <!--<td><p th:text="${item.dateStart}"/></td>-->
                <!--<td><p th:text="${item.dateEnd}"/></td>-->
                <!--<td><p th:text="${item.dutyOne}"/></td>-->
                <!--<td><p th:text="${item.dutyTwo}"/></td>-->
                <!--<td>-->
                    <!--<a th:href="@{/updateworkexperience/{id}(id=${item.id})}" class="action-link">Edit</a>-->
                    <!--<a th:href="@{|/delete/${item.id}?type=workexp|}" class="action-link">Delete</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</th:block>-->
    <!--</table>-->
<!--</section>-->

<!--<section id="skills">-->
    <!--<h3>Skills</h3>-->
    <!--<table>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th>Skill</th>-->
            <!--<th>Rating</th>-->
        <!--</tr>-->
        <!--</thead>-->

        <!--<th:block th:each="item:${skills}">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td><p th:text="${item.skill}"/></td>-->
                <!--<td><p th:text="${item.rating}"/></td>-->
                <!--<td>-->
                    <!--<a th:href="@{/updateskill/{id}(id=${item.id})}" class="action-link">Edit</a>-->
                    <!--<a th:href="@{|/delete/${item.id}?type=skill|}" class="action-link">Delete</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</th:block>-->
    <!--</table>-->
<!--</section>-->



<a class="btn btn-md" href="resumenavigation">Home</a>

<!-- TODO add warning popup for Delete All! -->
<a class="btn btn-md" th:href="@{/index?startover=true}">Delete Everything!</a>


<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>