<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body id="page-top">

<!-- pass a bunch of boolean variables over to the nav fragment, so it knows which links to enable and highlight -->
<nav th:replace="fragments :: navbar(${pageState})"></nav>


<div class="container">



    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <section id="person" class="section-heading">

                <table class="table table-hover">
                    <caption><h3><b>Personal Information</b></h3></caption>
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <th:block th:each="item:${persons}">
                        <tbody>
                        <tr>
                            <td><p th:text="${item.nameFirst}"></p></td>
                            <td><p th:text="${item.nameLast}"></p></td>
                            <td><p th:text="${item.email}"></p></td>
                            <td>
                                <a th:href="@{|/update/${item.id}?type=person|}" class="action-link">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <section id="education">

                <table class="table table-hover">
                    <caption><h3><b>Educational Achievements</b></h3></caption>
                    <thead>
                    <tr>
                        <th>Major</th>
                        <th>School</th>
                        <th>Grad Year</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>
                    <th:block th:each="item:${edAchievements}">
                        <tbody>
                        <tr>
                            <td><p class="truncate" th:text="${item.major}"></p></td>
                            <td><p class="truncate" th:text="${item.school}"></p></td>
                            <td><p th:text="${item.graduationYear}"></p></td>
                            <td>
                                <!-- send both a path variable AND a request param for delete. easy with thymeleaf literal substitution -->
                                <a th:href="@{|/update/${item.id}/?type=ed|}" class="action-link">Edit</a>
                            </td>
                            <td>
                                <a th:href="@{|/delete/${item.id}?type=ed|}" class="action-link">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <section id="workexperiences">

                <table class="table table-hover">
                    <caption><h3><b>Work Experiences</b></h3></caption>
                        <thead>
                            <tr>
                                <!-- don't need to show every detail here, fits on screen better without so many columns -->
                                <th>Job Title</th>
                                <th>Company</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <!--<th>Duty One</th>-->
                                <!--<th>Duty Two</th>-->
                            <th colspan="2">Action</th>
                        </tr>
                        </thead>
                        <th:block th:each="item:${workExperiences}">
                            <tbody>
                            <tr>
                                <td><p class="truncate" th:text="${item.jobTitle}"></p></td>
                                <td><p class="truncate" th:text="${item.company}"></p></td>
                                <td><p th:text="${#dates.format(item.dateStart, 'MMM dd, yyyy')}"></p></td>
                                <td><p th:text="${item.dateEnd} ? ${#dates.format(item.dateEnd, 'MMM dd, yyyy')} : 'Present'"></p></td>
                                <!--<td><p class="truncate" th:text="${item.dutyOne}"></p></td>-->
                                <!--<td><p class="truncate" th:text="${item.dutyTwo}"></p></td>-->
                                <td>
                                    <!-- send both a path variable AND a request param for delete. easy with thymeleaf literal substitution -->
                                    <a th:href="@{|/update/${item.id}/?type=workexp|}" class="action-link">Edit</a>
                                </td>
                                <td>
                                    <a th:href="@{|/delete/${item.id}?type=workexp|}" class="action-link">Delete</a>
                                </td>
                            </tr>
                            </tbody>
                        </th:block>
                    </table>

           </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <section id="skills">

                <table class="table table-hover">
                    <caption><h3><b>Skills</b></h3></caption>
                    <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Rating</th>
                        <th colspan="2">Action</th>
                    </tr>
                    </thead>

                    <th:block th:each="item:${skills}">
                        <tbody>
                        <tr>
                            <td><p th:text="${item.skill}"></p></td>
                            <td><p th:text="${item.rating}"></p></td>
                            <td>
                                <!-- send both a path variable AND a request param for delete. easy with thymeleaf literal substitution -->
                                <a th:href="@{|/update/${item.id}/?type=skill|}" class="action-link">Edit</a>
                            </td>
                            <td>
                                <a th:href="@{|/delete/${item.id}?type=skill|}" class="action-link">Delete</a>
                            </td>
                        </tr>
                        </tbody>
                    </th:block>
                </table>

            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <!-- TODO add warning popup for Delete All! -->

            <a class="btn btn-danger bold-input" href="startover">
                <span class="glyphicon glyphicon-warning-sign"></span>Delete Everything!</a>
        </div>
    </div>


</div>





<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

<th:block th:replace="fragments :: modals"></th:block>

</body>

</html>