<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="headerFragment">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Create your resume with Robo Resume!">
    <meta name="author" content="Nathan Merris">

    <title>Robo Resume</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/navbar-fixed-top.css}" rel="stylesheet">


    <!-- Custom fonts for this template -->
    <!-- **** SPRING BOOT EXPECTS ALL STATIC RESOURCES TO BE IN resources/static **** -->
    <!-- So even though IntelliJ does not think the refs are good, they work when running on the server -->
    <!--<link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">-->
    <!--<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">-->
    <!--<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>-->
    <!--<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>-->



</head>


<body>

    <!-- Fixed navbar -->
    <nav th:fragment="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">ROBO RESUME</span>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="editdetails" th:classappend="|${disableEditDetailsLink ? 'disabled' : ''} ${disableEditDetailsLink ? 'disable-anchor' : ''}|">Edit Details</a></li>
                    <li class="active"><a href="finalresume" th:classappend="|${disableShowFinalResumeLink ? 'disabled' : ''} ${disableShowFinalResumeLink ? 'disable-anchor' : ''}|">Final Resume</a></li>
                    <!--<li class="active"><a href="./">Final Resume <span class="sr-only">(current)</span></a></li>-->
                </ul>

            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <footer th:fragment="footerTemplate">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                <!--<div class="col-md-4 col-md-offset-4">-->
                    <span class="copyright">Copyright &copy; Nathan Merris 2017</span>
                </div>
            </div>
        </div>
    </footer>

    <div th:fragment="javaScriptTemplate">
        <!-- Bootstrap core JavaScript -->
        <!--<script src="../vendor/jquery/jquery.min.js"></script>-->
        <!--<script src="../vendor/popper/popper.min.js"></script>-->
        <!--<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>-->

        <!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
        <!--<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>-->

        <!--&lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
        <!--<script src="../js/agency.min.js"></script>-->
        <!--<script src="../js/custom.js"></script>-->
    </div>

</body>

</html>