<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:fragment="headerFragment">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Create your resume with Robo Resume!">
    <meta name="author" content="Nathan Merris">

    <title>Robo Resume</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!--<link th:href="@{/css/navbar-fixed-top.css}" rel="stylesheet">-->
    <link th:href="@{/css/custom.css}" rel="stylesheet">


</head>


<body>

    <!-- Fixed navbar -->
    <nav th:fragment="navbar (navState)" class="navbar navbar-default navbar-fixed-top">
        
        <div class="container">

            <div class="navbar-header">
                <span class="navbar-brand">ROBO RESUME</span>
            </div>

            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${navState.highlightPersonNav ? 'active' : ''}">
                        <a href="addperson" th:classappend="${navState.disablePersonLink ? 'disable-click' : ''}">Personal</a>
                    </li>

                    <li th:classappend="${navState.highlightEdNav ? 'active' : ''}">
                        <a href="addeducation" th:classappend="${navState.disableAddEdLink ? 'disable-click' : ''}">Education</a>
                    </li>
                    <li th:classappend="${navState.highlightWorkNav ? 'active' : ''}">
                        <a href="addworkexperience" th:classappend="${navState.disableAddWorkExpLink ? 'disable-click' : ''}">Work</a>
                    </li>
                    <li th:classappend="${navState.highlightSkillNav ? 'active' : ''}">
                        <a href="addskill" th:classappend="${navState.disableAddSkillLink ? 'disable-click' : ''}">Skills</a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li th:classappend="${navState.highlightEditNav ? 'active' : ''}">


                        <a href="editdetails" th:classappend="${navState.disableEditDetailsLink ? 'disable-click' : ''}"><span class="glyphicon glyphicon-pencil"></span>Edit Details</a>
                    </li>
                    <li th:classappend="${navState.highlightFinalNav ? 'active' : ''}">
                        <a href="finalresume" th:classappend="${navState.disableShowFinalLink ? 'disable-click' : ''}"><span class="glyphicon glyphicon-eye-open"></span>Final Resume</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>


    <footer th:fragment="footerTemplate">
        <div class="container">
            <br/><br/>
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="copyright">Copyright &copy; Nathan Merris 2017</span>
                </div>
            </div>
        </div>
    </footer>

    <!-- TODO remove below and also js folder, make sure it all still works -->
    <div th:fragment="javaScriptTemplate">
        <!-- Bootstrap core JavaScript -->
        <!--<script src="../vendor/jquery/jquery.min.js"></script>-->
        <!--<script src="../vendor/popper/popper.min.js"></script>-->
        <!--<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>-->

        <!--<script src="../js/custom.js"></script>-->
    </div>

</body>

</html>