<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments :: headerFragment"></head>

<body id="page-top">

<!-- Contact -->
<section id="contact">
    <div class="container">

        <div class="col-lg-12 text-center">
            <h2 class="section-heading" th:text="'Resume for ' + ${firstAndLastName}"></h2>
        </div>

        <div class="col-lg-12 text-center">
            <!-- disable link with javascript, handles clicks and tab/enters-->
            <a href="addperson" class="btn btn-xl"
               th:classappend="|${disableAddPersonLink ? 'disabled' : ''} ${disableAddPersonLink ? 'disable-anchor' : ''}|">Enter Personal Info</a>
        </div>

        <div class="col-lg-12 text-center">
            <!-- disable the link if > 10 edAchievements already in db, do this with bootstrap class 'disabled' -->
            <!-- and also with some custom javascript with class 'disable-anchor' -->
            <a href="addeducation" class="btn btn-xl"
               th:classappend="|${disableAddEdLink ? 'disabled' : ''} ${disableAddEdLink ? 'disable-anchor' : ''}|">Enter Educational Achievements</a>
        </div>

        <div class="col-lg-12 text-center">
            <a href="addworkexperience" class="btn btn-xl"
               th:classappend="|${disableAddWorkExpLink ? 'disabled' : ''} ${disableAddWorkExpLink ? 'disable-anchor' : ''}|">Enter Work Experiences</a>
        </div>

        <div class="col-lg-12 text-center">
            <a href="addskill" class="btn btn-xl"
               th:classappend="|${disableAddSkillLink ? 'disabled' : ''} ${disableAddSkillLink ? 'disable-anchor' : ''}|">Enter Skills</a>
        </div>

        <div class="col-lg-12 text-center">
            <a href="editdetails" class="btn btn-xl"
               th:classappend="|${disableEditDetailsLink ? 'disabled' : ''} ${disableEditDetailsLink ? 'disable-anchor' : ''}|">Edit Resume Details</a>
        </div>

        <div class="col-lg-12 text-center">
            <a href="finalresume" class="btn btn-xl"
               th:classappend="|${disableShowFinalResumeLink ? 'disabled' : ''} ${disableShowFinalResumeLink ? 'disable-anchor' : ''}|">Show Final Resume</a>
        </div>





    </div>
</section>

<!-- Footer -->
<footer th:replace="fragments :: footer"></footer>

<!-- javascript -->
<!-- th:block goes away after processing, but what's inside stays, so it won't affect the page layout -->
<th:block th:replace="fragments :: javaScriptTemplate"></th:block>

</body>

</html>